<app-slider></app-slider>


    <div class="home_container">
        <app-card [title]="'New On Netflix'" [content]="topRatedResult" ></app-card>
        <app-card [title]="'Thrillers'" [content]="adventureResult" ></app-card>
        <app-card [title]="'Action'" [content]="actionResult" ></app-card>
        <app-card [title]="'Comedies'" [content]="comedyResult" ></app-card> 
        <app-card [title]="'Sci-Fi & Fantasy Movies'" [content]="sciResult" ></app-card> 
        <app-card [title]="'Documentaries'" [content]="documentResult" ></app-card> 
    </div>



<app-footer></app-footer>
